<h2>Agendamentos</h2>
<mat-table [dataSource]="agendamentos">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let a"> {{a.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="paciente">
    <mat-header-cell *matHeaderCellDef> Paciente ID </mat-header-cell>
    <mat-cell *matCellDef="let a"> {{a.pacienteId}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>